.env
amz2\ploppaSmurph_credentials.csv
./ploppaSmurph_credentials.csv
ploppaSmurph_credentials.csv
./instance/site.db
config.py
/config.py
*/config.py
jsw_ctec259portfolio_rough.zip
./jsw_ctec259portfolio_rough.zip
./instance/site.db
instance/site.db
__pycache__/
*.pyc