.env
amz2\ploppaSmurph_credentials.csv
./ploppaSmurph_credentials.csv
ploppaSmurph_credentials.csv
config.py
/config.py
*/config.py
jsw_ctec259portfolio_rough.zip
./jsw_ctec259portfolio_rough.zip
__pycache__/
*.pyc