{% extends "base.html" %}
{% block title %}Login | SHV1 STATION IRREGULARITY LOG{% endblock %}
{% block content %}
<div class="login-container">
  <div class="login-card">
      <h2>Login</h2>
      <form method="POST" action="{{ url_for('auth.login') }}">
          {{ form.hidden_tag() }}
          <div class="form-group">
              {{ form.username.label }}
              {{ form.username(class="form-control") }}
              {% if form.username.errors %}
              <div class="invalid-feedback d-block">
                  {% for error in form.username.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
              </div>
              {% endif %}
          </div>

          <div class="form-group">
              {{ form.password.label }}
              {{ form.password(class="form-control") }}
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary">Login</button>
          </div>
      </form>

      {% if show_forgot %}
      <a href="{{ url_for('auth.reset_password_request') }}" class="btn btn-danger">
          Forgot Password?
      </a>
      {% endif %}

      {% if show_register %}
      <a href="{{ url_for('auth.register') }}" class="btn btn-secondary">
          Register / Create New Account
      </a>
      {% endif %}
  </div>
</div>
{% endblock %}